<div class="row">
    <div class="col s12" id="searchbar">
        <center>
            <div class="form-group">
                <input type="text" class="form-control" id="searchbar-form" name="search" placeholder="Ask or search Yellow Ribbon" required>
            </div>
            <p>
                <a href="#/home/ptsd-forum">READ</a> | <a href="#/home/ptsd-forum">ANSWER</a>
            </p>
        </center>
    </div>
</div>
<div class="row">
    <div class="col s9">
        <div class="row">
            <div class="col s4">
                <h5>Recent Questions</h5>
            </div>
            <div class="col s8">
                <div class="row" style="float:left; display: inline;" id="div-questions" ng-repeat="question in questions">
                    <div class="col s2">
                        <img src="http://i.imgur.com/tomFMqls.png" id="profilepic">
                        <p>{{question.profile}}</p>

                    </div>
                    <div class="col s10">
                        <p>{{question.content}}</p>
                        <p>{{question.time}}</p>
                    </div>
                    <div class="col s3 offset-s9">
                        <a href="#" class="waves-effect waves-light btn">Answer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <h5>Recent Answers</h5>
            </div>
            <div class="col s8">
            </div>
        </div>
    </div>
    <div class="col s3">
        <h5>Recommended People</h5>
    </div>
</div>
