<div class="row">
    <div class="col s12" id="searchbar">
        <center>
            <div class="form-group">
                <input type="text" class="form-control" id="searchbar-form" name="search" placeholder="Ask or search Yellow Ribbon" required>
            </div>
            <p>
                <a href="#/home/ptsd-forum">READ</a> | <a href="#/home/ptsd-forum">ANSWER</a>
            </p>
        </center>
    </div>
</div>
<div class="row" id="home-questions-answers">
    <div class="col s3">
        <h5>recent questions</h5>
        <br />
        <h5>recent answers</h5>
    </div>
    <div class="col s6">
        Questions for you
    </div>
    <div class="col s3">
        <h5>Recommend People</h5>
    </div>
</div>
