/* for the front page! */
#mainNavbar{
  background: #262728;
}

nav .brand-logo, nav ul li a{
  color: #fdd835;
}

#joinButton{
  background: #00CC99;
  text-align: center;
  border: none;
  color: #262728;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 1.5em;
  padding: 0.5em 2em;

}
